#!name=TestFlight
#!desc=TestFlight下载修正
#!author=NobyDa

^https?:\/\/testflight\.apple\.com\/v\d\/accounts\/.+?\/install$ url script-request-body https://raw.githubusercontent.com/Centralmatrix3/Scripts-Rules/Master/QuantumultX/Scripts/TF-Download.Js

hostname = testflight.apple.com
