#!name = 会员解锁合集
#!desc = 搜集整理会员重写合集
#!tool = QuantumultX

# 主机名
hostname = buy.itunes.apple.com

# 名称:米克锁屏
# 作者:89996462
# 状态:有效
^https?:\/\/buy\.itunes\.apple\.com\/verifyReceipt$ url script-response-body https://raw.githubusercontent.com/89996462/Quantumult-X/main/ycdz/mksp.js
